<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>TinyApp</title>
	</head>
	<body >
		<% if(!user) { %>
	    <h1>TINY APP YO</h1>
	    <form method="POST" action="/login">
	      <p><strong><a href="/register">REGISTER</a>       <a href="/login">LOGIN</a></strong></p>

	      <% if(locals.error){ %>
	      <p style="color: red; font-weight: 50px;padding: 50px"><%= error %></p>
	      <% } %>
	    </form> 
	  <% } else { %>

	  <% include partials/_header %>
	    <ul><% for( var url in urls){%>
	    	<li>
	    		<p><a href="/u/<%= url%>"><%= url%></a>  : <%= urls[url].longURL%></p>
	    		<a href="/urls/<%=url%>"><button>UPDATE</button></a>
	    		<form method="POST" action="/urls/<%= url%>/delete">
	    			<input type="submit" value="DELETE" style="display: inline;">
	    		</form>
	    	</li>

			<% } %>

    </ul>

    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

    <% } %>
     

</body>
</html>